/* paleta #222222 #FFFFFF #1C5D99 #639FAB #BBCDE5 */


:root {
  --primary-color: #61dafb;
  --background-color: #222222;
  --text-color: #ffffff;
  --logo-height: 40vmin;
}

.App {
  text-align: center;
  margin: auto;
}

.App-logo {
  height: var(--logo-height);
  pointer-events: none;
  transition: transform 0.5s; /* Transição suave para efeitos futuros */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 20px; /* Adiciona um pouco de espaçamento */
}

.App-link {
  color: var(--primary-color);
  text-decoration: none; /* Remove o sublinhado */
  transition: color 0.3s; /* Transição suave para hover */
}

.App-link:hover {
  color: darken(var(--primary-color), 10%); /* Efeito hover suave */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
