body {
  margin: 0;
  font-family: var(--font-sans);
  font-size: 16px; /* Define um tamanho de fonte padrão */
  line-height: 1.5; /* Melhora a legibilidade */
  background-color: #f9f9f9; /* Cor de fundo leve */
  color: #333; /* Cor do texto */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: var(--font-mono);
  background-color: #eef; /* Fundo leve para destaque */
  padding: 2px 4px; /* Adiciona espaçamento ao redor do texto */
  border-radius: 4px; /* Bordas arredondadas */
}